* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --bg: #12121b;
    --size: 200px;
    --glow: radial-gradient(
            50% 50% at center,
            hsl(var(--hue) 80% 85%),
            hsl(var(--hue) 80% 70%),
            transparent
        )
        calc((var(--x) * 1px) - (var(--size) * 0.5))
        calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size)
        no-repeat fixed;
}

html, body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.intro-left, .intro-right {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100vh;
    background-color: #161616;
    transition: all 1s;
}

.intro-left {
    left: 0;
    background: linear-gradient(90deg, #020202 10%, #161616 80%);
}

.intro-right {
    right: 0;
    background: linear-gradient(270deg,  #020202 10%, #161616 80%);
}


.logo-header-left {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
}

.logo-header-right {
    position: absolute;
    top: 45%;
    left: 76px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
}

body.loaded .intro-left {
    transform: translateX(-100%);
}

body.loaded .intro-right {
    transform: translateX(100%);
}

.logo-left {
    position: relative;
    left: -20px;
    opacity: 0;
}

.logo-right {
    position: relative;
    left: 20px;
    opacity: 0;
}

.active {
    left: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo-left.fade {
    left: -150px;
    opacity: 0;
    transition: ease-in-out .5s;
}

.logo-right.fade {
    left: 150px;
    opacity: 0;
    transition: ease-in-out .5s;
}

header {
    padding: 32px;
    background-color: #020202;
    color: #fff;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    transition: .2s;
}

header a:hover {
    transition: .2s;
    text-shadow: 0 0 8px #fff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button-box {
    display: flex;
    gap: 64px;
}

.nav-button {
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.nav-button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
}

.nav-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-intro-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #fff;
    border-bottom: #fff 2px solid;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    background: linear-gradient(#020202, #020202) padding-box, var(--glow),
        linear-gradient(black, black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    padding: 1rem 2rem;
    display: flex;
}

h1.main-header-text {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 16px 0;
    background: var(--glow), white;
    background-clip: text;
    color: transparent;
}

.sub-header-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.work-shower {
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 24px;
    transition: .3s;
    background-color: transparent;
}

.work-shower:hover {
    background-color: #09f;
    color: #020202;
    transition: .3s;
}

main {
    position: relative;
    min-height: 100vh;
    background-color: #020202;
}

.mainDiv {
    margin: 16px;
    border-radius: 1rem;
    border: 4px solid transparent;
    background: linear-gradient(#020202, #020202) padding-box, var(--glow),
        linear-gradient(#020202, #020202) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    padding: 1rem 2rem;
    display: flex;
}
 
.mainDiv span {
    background: var(--glow), white;
    background-clip: text;
    color: transparent;
    position: relative;
    inset: 0;
    font-weight: bold;
    letter-spacing: 0.04cm;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 16px 0;
    background: var(--glow), white;
    background-clip: text;
    color: transparent;
}

.card-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

.card-button {
    margin: 16px 0;
}

.card-button a {
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 24px;
    transition: .3s;
    background-color: transparent;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    border-top: #fff 2px solid;
    background-color: #020202;
}

.email {
    cursor: pointer;
    transition: .3s;
}

.email:hover {
    transform: scale(1.2);
    transition: .3s;
}

.email img {
    width: 32px;
    height: 32px;
}
